In [1]:
1

1

In [2]:
1.0

1.0

In [3]:
1+1

2

In [4]:
1*3

3

In [5]:
1/2

0.5

In [6]:
1/2.0

0.5

In [7]:
2 ^4

6

In [8]:
2**4

16

In [9]:
2 + 4*7 +10

40

In [10]:
(2*4) + (4*60)

248

In [11]:
10%4

2

In [12]:
10%2

0

In [13]:
x = 10

In [14]:
x

10

In [17]:
y=3

In [18]:
x+y

13

In [19]:
x = x+x

In [20]:
x

20

In [21]:
12Var

SyntaxError: invalid syntax (<ipython-input-21-47846de68c95>, line 1)

In [23]:
$var=10

SyntaxError: invalid syntax (<ipython-input-23-58dc6646680e>, line 1)

In [24]:
Var

NameError: name 'Var' is not defined

In [25]:
Var=12

In [26]:
name_of_var=10

In [28]:
# Strings

In [29]:
'single quote '

'single quote '

In [30]:
"string 2"

'string 2'

In [31]:
"this is 'me'"

"this is 'me'"

In [32]:
'this is 'me''

SyntaxError: invalid syntax (<ipython-input-32-fb8ed823a072>, line 1)

In [33]:
z='hello'

In [34]:
z

'hello'

In [35]:
print(z)

hello

In [36]:
num=12
name='sam'

In [37]:
'My number id {} and name is {}'.format(num, name)

'My number id 12 and name is sam'

In [38]:
'Hi I am {} and i am {} years old'.format('shreya', 26)

'Hi I am shreya and i am 26 years old'

In [39]:
print('Hi my name is {}, and my id is {}'.format(name, num))

Hi my name is sam, and my id is 12

In [41]:
'my name is {my_name} and my id is {_id}'.format(my_name='shreya', _id=93)

'my name is shreya and my id is 93'

In [42]:
'first - {_one}, second - {_Sec}, first again - {_one}'.format(_Sec='haha', _one='bahblah')

'first - bahblah, second - haha, first again - bahblah'

In [43]:
2+2

4

In [44]:
[1,2,3]

[1, 2, 3]

In [45]:
my_list = [1,2,3]

In [46]:
my_list.append('d')

In [47]:
my_list

[1, 2, 3, 'd']

In [48]:
my_list[0]

1

In [49]:
my_list[0:]

[1, 2, 3, 'd']

In [50]:
my_list[:3]

[1, 2, 3]

In [51]:
my_list[0:3]

[1, 2, 3]

In [57]:
my_list[0]="shreya"

In [58]:
my_list

['shreya', 2, 3, 'd']

In [62]:
nest=[1,2,[4,5,['me']]]

In [63]:
nest

[1, 2, [4, 5, ['me']]]

In [64]:
nest[2]

[4, 5, ['me']]

In [65]:
nest[2][2]

['me']

In [66]:
nest[2][2][0]

'me'

In [67]:
print(nest[2][2][0])

me